.movieDetail__back {
  display: flex;
  align-items: center;
  gap: 6px;
}

.movieDetail__back span {
  font-weight: 500;
}

.movieDetail__movie {
  padding-top: 56px;
  display: grid;
  grid-template-columns: 300px 400px;
  gap: 20px;
}

.movieDetail__movie--detail,
.movieDetail__movie--detail__skeleton {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movieDetail__movie--title {
  font-weight: 700;
  text-transform: uppercase;
}

.movieDetail__movie--detail span {
  font-weight: 500;
}

.movieDetail__movie--detail p {
  font-size: 15px;
}

.movieDetail__movie--information,
.movieDetail__movie--information__skeleton {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.movie__run-time {
  font-weight: 500;
}

/* Skeleton Loading */
.movieDetail__movie--figure__skeleton,
.movieDetail__movie--detail__skeleton p,
.movieDetail__movie--detail__skeleton span {
  background-color: lightgray;
}

.movieDetail__movie--figure__skeleton {
  height: 460px;
}

.movieDetail__movie--detail__skeleton p,
.movieDetail__movie--detail__skeleton span {
  /* width: 100%; */
  padding: 6px 10px;
  margin: 5px 0;
}
