nav {
  height: 80px;
  display: flex;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: white;
  position: relative;
}

.nav__container {
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav__links {
  display: flex;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 8px;
  color: #7342d6;
}

.nav__list {
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.nav__link--primary {
  padding: 16px 24px;
  color: white;
  background-color: #7342d6;
  border: none;
  border-radius: 40px;
}

.nav__link--primary:hover {
  text-decoration: none;
}
